<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>	
		<div class="container">	
			<h3>Frage 3 / <span th:text="${survey.questions}"></span></h3>
			<form id="survey_question_2" style="width: 60%; margin: 0px auto;" method="post" th:action="@{/survey/answer}">
				<div class="form-group" >
					<label for="question_2">Wie finden Sie ... ? (1 - Sehr gut bis 5 - Sehr schlecht)</label> 				 
					<select class="form-control" name="question_2" id="question_2">
						<option value="1" th:selected="${answer.optionId} eq 1">1</option>
						<option value="2" th:selected="${answer.optionId} eq 2">2</option>
						<option value="3" th:selected="${answer.optionId} eq 3">3</option>
						<option value="4" th:selected="${answer.optionId} eq 4">4</option>
						<option value="5" th:selected="${answer.optionId} eq 5">5</option>
					</select>
				</div>
				<input type="hidden" name="questionId" th:value="2"/>
				<input type="submit" value="Weiter" class="btn btn-default" name="forward">
				<input type="submit" value="Zurück" class="btn btn-default" name="backward">
			</form>
		</div>
	</body>
</html>