<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
<body>
	<div class="container">
		<h3>Frage 2</h3>
		<form id="survey_question_1" th:object="${answer}" style="width: 60%; margin: 0px auto;" method="post" th:action="@{/survey/answer}">			
			<fieldset class="form-group">
				<legend>Was denken Sie über ... ?</legend>
				<div class="form-check">
					<label class="form-check-label"> 
						<input type="radio" th:field="*{optionId}" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="1" checked> Antwortoption 1_1
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label"> 
						<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" th:field="*{optionId}" value="2"> Antwortoption 1_2
					</label>
				</div>
				<div class="form-check disabled">
					<label class="form-check-label"> 
						<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" th:field="*{optionId}" value="3"> Antwortoption 1_3
					</label>
				</div>
			</fieldset>
			
			<!-- do not use th:field for the questionId to set, because thymeleaf internally overwrites it -->
			<input type="hidden" name="questionId" th:value="1"/>
			<input type="submit" value="Weiter" class="btn btn-default" id="btn_submit">
		</form>
	</div>
</body>

</html>